body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

address{
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}

.section{
padding-top: 120px;
padding-bottom: 120px;
}

/* ==============HEADER================ */
.header{
    background: #fff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start ;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 17px 0;
}

.header-logo span{
    color: #2e2f42
}


.open-menu-mob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding: 72px 24px 40px 16px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 999;
}

.menu-open-btn {
    position: absolute;
    top: 24px;
    right: 24px;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-close-icon{
    fill: #2e2f42;

}

.mob-menu-close-btn{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mob-menu-close-btn:focus>.mob-close-icon {
    fill: #ffffff;
}

.mob-media-link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-navigation-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.mob-header-contact-list-item{
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-contact-list-item:focus {
    color: #404bbf
}

.mob-studio-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #404bbf;
    cursor: pointer;
    }

.mob-menu-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.mob-menu-item:focus {
    color: #404bbf
}

.mob-header-contact-list{
    display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
}

.mob-header-contact-mail{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.mob-header-contact-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-header-contact-mail:focus {
    color: #4d5ae5;
}

.header-navigation-list {
    display: none;
    }


.contacts{
    font-style: normal;
    display: none;
}

.mob-adress-container{
    margin-top: auto;
}
.header-contact-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 40px;
    padding-right: 0;    
}

.open-menu-btn{
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    line-height: 0;
    border: none;
}

.mob-media-links-list {
    display: flex;
    gap: 40px;
}

.social-link-icon-mob {
    fill: white;
}

.mob-media-link:focus{
    background-color: #31d0aa;
}

/** =============HERO================= */
.hero{
background: #2e2f42;
padding: 72px 0px;
margin: 0 auto;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
),
url(../images/people-office-mob.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-mob-x2.jpg);
    }
}

.hero-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    margin: 0 auto;
    }


.button-hero{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus{
    background-color:#404BBF
}

/** =============ABOUT================= */

.about-section {
    padding-top: 96px;
    padding-bottom: 96px;
}
.about-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
}

.about-item-list{
    max-width: 288px; 
}

.about-icon-container{
    display: none;
}


.about-item-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about-item-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

/** =============TEAM================= */

.team-title {
    margin-bottom: 72px;
}

.team-wrap{
padding: 32px 0;
}

.team-tabl-container{
    padding-right: 0;
    padding-left: 0;
}

.team-section{
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 86px;
}

.team-members{ 
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: flex-start;
    align-items: center;
}

.border:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-members-list:last-child{
    margin-right: 0;
}

.team-members-list{
    background-color: #FFFFFF;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-members-img{
    border-radius: 0 0 4px 4px;
    width: 264px;
}

.team-members-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-members-speciality{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-icon-wrap{
}

.team-icon-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-member-links-link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-links-link:hover {
    background-color: #404bbf;
}

.team-member-links-link:focus {
    background-color: #404bbf;
}

.team-icon-item{
}

.team-icon{
fill: #f4f4fd;
}

/** =============PRODUCTS================= */
.product-section {
    padding-top: 106px;
    padding-bottom: 96px;}

.product-title{
    margin-bottom: 72px;
}

.products-list-item{
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.products-list-item:last-child {
    margin-bottom: 0;}

.products-list-item:hover .additional-products-cover {
transform: translateY(0);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-list-item:hover{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-img{
    width: 360px;
}

.products-img-wrap{
    position: relative;
    overflow: hidden;

}

.products-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;   
    margin-bottom: 8px;
}

.products-descr{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.border {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.additional-products-cover {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color:#4d5ae5;;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

/** =============FOOTER================= */
.footer-section{
background: #2e2f42;
padding: 100px 0;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    }

.footer-logo-text{
    color: #f4f4fd;
}

.footer-logo-container{
    margin-bottom: 72px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}


.footer-text{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.social-media-container{
    margin: 0 auto;
    margin-bottom: 72px;
}

.social-media-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.social-media-list{
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    }

.social-media-link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link-icon{
    fill: #F4F4FD;
}

.social-media-link:hover{
    background-color: #31d0aa;
}

.social-media-link:focus {
    background-color: #31d0aa;
}

.subscribe-container {
    display: block;
}

.subsc-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.subsc-input{
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.subsc-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.sbsc-btn{
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    min-width: 165px;
}

.subsc-icon{
    fill: #fff;
    }

.subsc-input{
    padding-left: 16px;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
outline: transparent;

}


/** =============MODAL WINDOW================= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    width: 288px;
    min-height: 623px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}

.modal-btn{
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute; 
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover {
    background-color: #404bbf;
    border: none;
}

.modal-btn:hover > .close-icon{
    background-color:#404bbf; 
    fill: white;
}

.modal-btn:focus>.close-icon {
    background-color: #404bbf;
    fill: white;
}

.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.close-icon{
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-modal{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-icon{
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover{
    fill: #4D5AE5;
}

.modal-input-wrap{
    position: relative;
}

.modal-input{
    width: 100%;  
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon{
    fill: #4d5ae5;
}

.label-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-text::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);}

.modal-field{
    margin-bottom: 8px;
}

.modal-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
}

.modal-text:focus{
border-color: #4D5AE5;
}

.modal-text-cont{margin-bottom: 16px;}

.modal-checkbox{
margin-bottom: 24px;
}

.check-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-top: 24px;
    margin-bottom: 24px;
}

.check-svg{
    position: relative;
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        gap: 8px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.check-link{
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    padding-left: 3px;
}

.modal-send-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor:pointer;
}

.modal-send-btn:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.modal-send-btn:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.modal-check:checked + .check-text span{
    background: #404bbf;
    border: none;
    fill:#f4f4fd;

}

.sbsc-btn{
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sbsc-btn:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

.sbsc-btn:focus{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}

/* Adaptation for Tablet */
@media screen and (min-width: 768px) {
    
    .container {
        max-width: 768px;
        }

    .hero {
        padding: 112px 0;
        margin: 0 auto;
        max-width: 100%;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab.jpg);
        }

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-x2.jpg);
            }
        }

    .open-menu-mob{
        display: none;
    }

    .header-container{
        margin: 0;
    }

    .header-navigation-list {
            display: flex;
            gap: 40px;
            margin-top: 24px;
            margin-bottom: 24px;
        }

    .header-contact-list{
        justify-content: flex-end;
    }
    
    .header-logo {
        padding-left: 16px;
        margin-right: 120px;
    }

    .menu-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0 24px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
    .studio-item {
        position: relative;
        color: #404bbf;
                }
        
    .studio-item::after {
        border-radius: 2px;
        height: 4px;
        width: 100%;
        background: #404bbf;
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
    }
        
    .menu-item-list {}
        
    .menu-item:hover,
    .menu-item:focus {
        color: #404bbf
    }
    
    .contacts {
        display: block;
    }

    .header-contact-list {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 16px 0;
    }

        .header-contact-link {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.02em;
            color: #434455;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .header-contact-link:hover,
        .header-contact-link:focus {
            color: #404bbf;
        }
    
    .open-menu-btn {
        display: none;}

    .hero-header {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        }

    .tab-container{
        margin: 0;
    }

    .about-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 72px 24px;
    }

    .about-item-list {
        max-width: calc((100% - 24px) / 2);
    }

    .about-item-title {
        text-align: start;}

    .team-section {
        padding-bottom: 96px;
    }

    .team-tabl-container{
        padding-right: 16px;
        padding-left: 16px;
    }

    .team-members {
        flex-direction: row;                             
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;

    }            

    .team-members-list {
        max-width: calc((100% - 24px) / 2);
    }

    .product-section{
        margin: 0;
    }

    .products-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
    
    .products-list-item {
        max-width: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        padding-left: 108px;
        padding-right: 164px;
        }
        
    .footer-logo-container {
        margin-right: 24px;
    }
        
        
    .footer-logo {
        display: inline-block;}
        
    .social-media-container {
        margin: 0;}
        
    .social-media-text {
        text-align: start;}
        
    .social-media-list {
        margin-bottom: 0;}

    .subscribe-container {
        display: block;
    }
        
    .subsc-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .subsc-input {
            width: 264px;
        }
    .modal {
        width: 408px;
        min-height: 584px;
    }
}



/* Adaptation for Desctop */
@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
        }

    .header-container {
        display: flex;
    }

.header-logo{
    padding: 0;
    margin-right: 76px;
}

.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-item {
    position: relative;
    color: #404bbf;
}

.studio-item::after {
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background: #404bbf;
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

}

.menu-item:hover,
.menu-item:focus {
    color: #404bbf
}

.contacts {
    display: flex;
}

.header-contact-list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
}

.header-contact-link {
    font-size: 16px;
    line-height: 1.5;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404bbf;
}

.hero{
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    }

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-x2.jpg);
    }
}

.hero-header {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;}

.about-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.tab-container{
    margin: 0 auto;
}

.about-item-title {
    margin-bottom: 0;
}
.about-item {
    gap: 24px;
}

.about-item-list {
    align-items: flex-start;
    justify-content: flex-start;
    width: calc((100% - 3 * 24px) / 4);
}

.about-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.about-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about-item-text {
    font-weight: 400;}

.team-tabl-container{
    padding: 0 15px;
}

.team-title {
    margin-bottom: 72px;
}
.team-wrap {
    padding: 32px 16px;
}

.team-members {
    gap: 24px;
}

.team-members-list {
    max-width: calc((100% - 3 * 24px) / 4);
}

.team-members-list:last-child {
    margin-right: 0;
}

.product-section {
    padding: 120px 0;
    margin: 0 auto;
    
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.products-list-item {
    width: calc((100% - 48px) / 3);}

    .footer-container {
    flex-wrap: nowrap; 
    padding-top: 0;
    padding-bottom: 0;
}

.footer-logo-container {
    margin-right: 120px;
    margin-bottom: 0;
}

.footer-text{
    margin-bottom: 0;
}

.footer-logo {
    display: inline-block;
}

.social-media-container {
    margin-top: 0;
    margin-right: 80px;
    margin-bottom: 0;}

.subscribe-container {
    margin-left: auto;
}

.subsc-form {
    flex-direction: row;
    gap: 24px;
}